main{
    max-width: none !important;
}

.about{
    max-width: 1110px;
    margin: 0 auto;
}
.links-to{
    padding-top: 35px;
    padding-bottom: 45px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.about__brief-info{
    padding-left: 95px;
}
.brief-info__title{
    font-family: Cormorant;
    font-size: 100px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-bottom: 98px;
}
.bref-info__block{
    padding-left: 91px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.bref-info__subtitle,
.guarantees__title,
.order-website__title{
    color: rgb(67, 255, 210);
    font-family: Cormorant;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.horizontal-line{
    margin-top: 70px;
    width: 60px;
    height: 0;
    display: block;
    border: 1px solid rgb(67, 255, 210);
}
.bref-info__text{
    backdrop-filter: blur(68px);
    background: rgba(0, 0, 0, 0.2);
    margin: 0px 0 100px 630px;
    padding: 40px 20px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}
.about__guarantees,
.about__order-website{
    margin-left: 185px;
}
.guarantees__text{
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;

    padding: 20px 0 100px
}
.order-website-list{
    padding: 20px 0 260px 160px;
    list-style: inside;
}
.order-website-item{
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
}
.result{
    color: #fff;
    padding-left: 120px;
}
.result__title{
    font-family: Cormorant;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-bottom: 105px;
    line-height: 64px;
}
.result__text{
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 0 0 200px 190px;
}


.flower-about__first-img{
    position: absolute;
    left: -630px;
    top: -272px;
    z-index: -1;
}
.flower-about__second-img{
    z-index: 1;
    position: absolute;
    left: 735px;
    top: -146px;
}
.flower-about__third-img{
    z-index: -2;
    position: absolute;
    left: 390px;
    top: 1355px;
}



.about-spot-yellow-first{
    position: absolute;
    width: 274.92px;
    height: 220.33px;
    left: -61px;
    top: -22px;
    transform: rotate(-71.86deg);
    filter: blur(100px);
    background: rgb(200, 161, 86);
    z-index: -2;
}
.about-spot-yellow-second{
    position: absolute;
    width: 293.56px;
    height: 235.26px;
    left: 840px;
    top: 430px;
    transform: rotate(-71.86deg);
    filter: blur(100px);
    background: rgb(200, 161, 86);
    z-index: -2;
}
.about-spot-yellow-third{
    position: absolute;
    width: 293.56px;
    height: 235.26px;
    left: 520px;
    top: 660px;
    transform: rotate(-71.86deg);
    filter: blur(100px);
    background: rgb(200, 161, 86);
    z-index: -2;
}
.about-spot-yellow-fourth{
    position: absolute;
    width: 205.97px;
    height: 436.52px;
    left: 10px;
    top: 2430px;
    transform: rotate(21.10deg);
    filter: blur(100px);
    background: rgb(200, 161, 86);
}
.about-spot-yellow-fifth{
    position: absolute;
    width: 354.93px;
    height: 364.22px;
    left: 1175px;
    top: 2525px;
    transform: rotate(32.83deg);
    filter: blur(100px);
    background: rgb(200, 161, 86);
    z-index: -2;
}