.links-to{
    padding-top: 35px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.about__brief-info{
    padding-left: 95px;
}
.brief-info__title{
    font-family: Cormorant;
    font-size: 100px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-bottom: 98px;
}
.bref-info__block{
    padding-left: 91px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.bref-info__subtitle,
.guarantees__title,
.order-website__title{
    color: rgb(67, 255, 210);
    font-family: Cormorant;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.horizontal-line{
    margin-top: 70px;
    width: 60px;
    height: 0;
    display: block;
    border: 1px solid rgb(67, 255, 210);
}
.bref-info__text{
    backdrop-filter: blur(20px);
    background: rgba(0, 0, 0, 0.2);
    margin: 20px 0 100px 245px;
    padding: 40px 20px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 850px;
}
.about__guarantees,
.about__order-website{
    margin-left: 185px;
}
.guarantees__text{
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;

    padding: 20px 0 100px
}
.order-website-list{
    padding: 20px 0 260px 160px;
    list-style: inside;
}
.order-website-item{
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
}
.result{
    color: #fff;
    padding-left: 120px;
}
.result__title{
    font-family: Cormorant;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-bottom: 105px;
}
.result__text{
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 0 0 200px 190px;
}
