*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Oswald;
    background: rgb(40, 40, 40);
}

/* header START */
.header{
    font-size: 14px;
    font-weight: 400;
}
.header__section{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1110px;
    padding-top: 20px;
}
.header__logo{
    margin-top: -30px;
}
.header__nav-list{
    display: flex;
    gap: 50px;
    list-style-type: none;
}
.header__nav-link{
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}
.search{
    display: flex;
    align-items: center;
    gap: 10px;
}
.header__contact-info,
.header__contact-info-top,
.header__contact-info-bottom{
    display: flex;
    flex-direction: column;
    gap: 26px;
    align-items: end;
}
.header__contact-info-top,
.header__contact-info-bottom{
    gap: 4px;
}
.header__contact-info-email,
.header__contact-info-address{
    color: rgb(67, 255, 210);
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}
.header__delivery-info,
.header__work-time{
    color: rgb(255, 255, 255);
    font-size: 10px;
    font-weight: 300;
}
/* header END */

/* main START */

/* main END */