*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Oswald;
    overflow-x: hidden;
}
body{
    background:rgb(4, 10, 10);
    max-width: 2000px;
    margin: 0 auto;
}
/* header START */
.header{
    font-size: 14px;
    font-weight: 400;
    position: relative;
    z-index: 2;
}
.header__section{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1110px;
    padding-top: 20px;
    gap: 150px;
}
.header__section-rigth{
    display: flex;
    justify-content: space-between;
    gap: 70px;
}
.header__logo{
    margin-top: -15px;
}
.header__nav-list{
    display: flex;
    gap: 50px;
    list-style-type: none;
}
.header__nav-link{
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}
.search{
    display: flex;
    align-items: center;
    gap: 10px;
}
.header__contact-info,
.header__contact-info-top,
.header__contact-info-bottom{
    display: flex;
    flex-direction: column;
    gap: 26px;
    align-items: end;
}
.header__contact-info-top,
.header__contact-info-bottom{
    gap: 4px;
}
.header__contact-info-email,
.header__contact-info-address{
    color: rgb(67, 255, 210);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
}
.header__delivery-info,
.header__work-time{
    color: rgb(255, 255, 255);
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 1px;
}
/* header END */


    /* hero section */
.hero__section{
    max-width: 1110px;
    margin: 0 auto;
}


.bg-hero-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;      
    height: auto;    
    object-fit: cover; 
    z-index: -5;
    object-position: top;
}
.hero-img-flower{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;      
    height: auto;    
    object-fit: cover; 
    z-index: 1;
    object-position: top;
}
.hero__content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
}
.hero__content-title{
    line-height: normal;
    position: relative;
    z-index: -4;
}
.hero__title{
    color: rgb(255, 255, 255);
    font-family: Cormorant;
    font-size: 200px;
    font-weight: 300;
    line-height: 160px;
    letter-spacing: 40px;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
}
.hero__description{
    color: rgb(255, 255, 255);
    font-family: Oswald;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 65px;
}
.hero__btn{
    padding: 16px 50px;
    text-transform: uppercase;
    background: rgb(67, 255, 210);
    margin-top: 47px;
    border: none;
}
.hero__color-spot-blue{
    position: absolute;
    width: 358.9px;
    height: 293.05px;
    left: 161.08px;
    top: 365.24px;
    transform: rotate(41.60deg);
    filter: blur(100px);
    background: rgb(36, 148, 121);
}

.hero__color-spot-pink{
    position: absolute;
    width: 472.65px;
    height: 211.05px;
    left: 936.12px;
    top: 559.79px;
    transform: rotate(-43.21deg);
    filter: blur(100px);
    background: rgb(125, 34, 83);
}
.hero__contact-info{
    position: absolute;
    z-index: 2;
    right: 200px;
    top: 230px;
}

.hero__contact-info-top,
.hero__contact-info-btn,
.hero__contact-info-cart{
    border-radius: 10px;
    backdrop-filter: blur(20px);
    background: rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
}
.hero__contact-info,
.hero__contact-info-top,
.hero__contact-info-bottom,
.hero__contact-info-block{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 185px;
}
.hero__contact-info-block{
    gap: 10px;
}
.hero__contact-info-tel,
.hero__contact-info-btn{
    text-decoration: none;
    color: rgb(67, 255, 210);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.hero__contact-info-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    border: none;
}
.hero__contact-info-top,
.hero__contact-info-bottom{
    gap: 20px;
}
.hero__rectangle{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 660px;
    background: linear-gradient(180.00deg, rgba(4, 10, 10, 0),rgb(4, 10, 10) 100%);
}
.hero__rectangle-img{
    padding-top: 405px;
    padding-left: 1015px;
}
/* main START */
.main{
    /* max-width: 1110px; */
    /* margin: 0 auto; */
}
    /* katalog block */
.katalog{
    max-width: 1110px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 220px;
}
.katalog__title,
.bouquets__title,
.bouquets__un-title,
.order__title,
.special__title-first, .cpecial__title-second,
.forma__title-first, .forma__title-second{
    color: rgb(255, 255, 255);
    font-family: Cormorant;
    font-size: 100px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.katalog__blok-text,
.bouquets__text{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 300;
    max-width: 540px;
}
.katalog__content {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 30px;
    overflow-y: hidden;
}

.katalog__blok {
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    background: rgba(0, 0, 0, 0.2);
    
}
.katalog__blok:nth-child(1) {
    transform: translateX(90px) ;
    background: none repeat scroll 0; 
    border-radius: none;
    backdrop-filter: none;
    width: 540px;
    padding: 20px 0 0 ;
}
.katalog__blok:nth-child(2) {
    transform: translateX(90px) translateY(20px);
    width: 445px;
}
.katalog__blok:nth-child(3) {
    transform: translateX(0px) translateY(-70px);
}
.katalog__blok:nth-child(4) {
    height: 266px;
    transform: translateY(10px);
}
.katalog__blok-title{
    color: rgb(67, 255, 210);
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 270px;
    padding-bottom: 10px;
    padding-left: 20px;
}
.katalog__blok-list{
    padding-bottom: 25px;   
}
.katalog__blok-list-item{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    list-style-position: inside;
}
.katalog__blok-btn,
.bouquets-btn{
    color: rgb(217, 120, 172);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration-line: underline;
    text-transform: uppercase;
    display: flex;
    justify-content: end;
}

.katalog__color-spot-blue{
    position: absolute;
    width: 879.44px;
    height: 211.05px;
    left: 700px;
    top: 1900px;
    transform: rotate(32.83deg);
    filter: blur(100px);
    background: rgb(36, 148, 121);
    z-index: -2;
}

.katalog__color-spot-pink{
    position: absolute;
    width: 707.54px;
    height: 236.87px;
    left: -100px;
    top: 1850px;
    transform: rotate(32.83deg);
    filter: blur(100px);
    background: rgb(125, 34, 83);
    z-index: -2;
}
.katalog__bg-text{
    color: rgb(10, 23, 23);
    font-size: 200px;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    position: absolute;
    z-index: -3;
}
.bouquet{
    width: 719px;
    height: 296px;
    left: 820px;
    top: 1455px;
}
.flowers{
    width: 632px;
    height: 296px;
    left: -28px;
    top: 1690px;
}
.additionally{
    width: 1622px;
    height: 200px;
    left: 690px;
    top: 1883px;
}

    /* top-bouquets */
.bouquets{
    padding-bottom: 180px;
    max-width: 1110px;
    margin: 0 auto;
}
.bouquets__un-title,
.bouquets__text{
    display: flex;
    justify-content: center;
    max-width: none;
}
.bouquets-btn{
    justify-content: start;
    padding-top: 60px;
    align-items: center;
}

.bouquets__bg-slider{
    position: absolute;
    z-index: -2;
    top: 2395px;
    right: 0;
}

/* slider */

.swiper {
    width: 100%;
    height: 100%;
    margin-top: 85px;
}

.swiper-slide {
    font-size: 18px;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    min-height: 450px !important;
    display: flex;
    flex-direction: column;
    position: relative;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-flower__title{
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-top: 10px;
}
.card-flower__coast{
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 10px;
}
.card-flower__btn{
    margin-top: 20px;
    padding: 15px 75px;
    box-sizing: border-box;
    border: 0.5px solid rgb(255, 255, 255);
    color: #fff;
    background: none;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}
.bouquets__mark{
    width: 60px;
    height: 60px;
    padding: 15px 13px;
    color: #000;
    text-transform: uppercase;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -10px;
    top: -10px;
    position: absolute;
    z-index: 1;
}
.pink{
    background: rgb(217, 120, 172);
}
.green{
    background: rgb(49, 152, 90);
}
.card-coast__sale-line{
    display: flex;
    gap: 10px;
}
.sale{
    text-decoration: line-through;
}
.bouquets__color-spot-blue{
    filter: blur(100px);
    background: rgba(67, 255, 210, 0.47);
    position: absolute;
    width: 814px;
    height: 661.89px;
    left: 0;
    top: 3000px;
    transform: rotate(32.83deg);
    z-index: -2;
}
.bouquets__color-spot-pink{
    filter: blur(100px);
    background: rgb(125, 34, 83);
    position: absolute;
    width: 571.28px;
    height: 396.43px;
    left: 400px;
    top: 2900px;
    transform: rotate(32.83deg);
    z-index: -2;
}
.swiper-button-next:after, 
.swiper-button-prev:after {
    content: none !important;;
}
.swiper-button-next:after, 
.swiper-button-prev:after {
    content: none !important;
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto !important;
    height: auto !important;
    color: transparent;
}

.swiper-button-prev, 
.swiper-rtl .swiper-button-next {
    /* position: absolute !important; */
    z-index: 2  !important;
    left: -30px !important;
    right: auto;
}

swiper__arrows{
    
}
    /* order block  */
.order{
    max-width: 1110px;
    margin: 0 auto;
    padding-bottom: 160px;
}
.order__flower-img{
    position: absolute;
    z-index: -1;
    left: -108px;
    top: 3608px;
}
.order__title{
    position: relative;
    z-index: -1;
}

.order__horizontal-line{
    background: rgb(217, 120, 172);
    width: 65px;
    height: 10px;
    display: block;
}
.order__wrapper{
    max-width: 780px;
    margin: 0 auto;
    margin-left: 396px;
    padding-top: 15px;
}
.order__steps {
    display: flex;
    align-items: center;
    align-items: flex-start;
    gap: 100px;
}
.step{
    padding-top: 40px;
}
.steps-one{
    max-width: 285px;
}
.steos-second{
    max-width: 242px;
}
.order__step-title{
    color: rgb(217, 120, 172);
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-bottom: 12px;
}
.order__step-text{
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.order__vertikal-line{
    border: 1px solid rgb(217, 120, 172); 
    width: 0;
    height: 437px;
    position: absolute;
    right: 165px;
    top: 3890px;
}
.order__rectangle-img{
    position: absolute;
    right: 150px;
    top: 4250px;
}

    /* special occasion */
.special{
    max-width: 1110px;
    margin: 0 auto;
    padding-bottom: 160px;
}
.special__top-blok{
    align-items: center;
    padding-bottom: 30px;
}
.special__top-blok,
.special__bottom-blok{
    display: flex;
    justify-content: space-between;
}
.special__title > div{
    display: flex;
    align-items: center;
    gap: 30px;
    padding-left: 95px;
}
.special__vertikal-line{
    border: 1px solid rgb(217, 120, 172);
    width: 255px;
    height: 0;
    display: block;
}
.special__bottom-blok{
    gap: 30px;
    padding-left: 95px;
    color: #fff;
}
.special__text{
    max-width: 275px;
    display: flex;
    flex-direction: column;

}
.special__description,
.special__list-item{
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.special__description{
    padding-bottom: 40px;
}
.special__list-items{
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style-position: inside;
    padding-bottom: 40px;
}
.special__images{
    display: flex;
    gap: 30px;
    height: 295px;
}

.special__btn{
    background: rgb(67, 255, 210);
    padding: 16px 17px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.arrow-special{
    left: 265px;
    top: 5060px;
    position: absolute;
}
.special__color-spot-pink{
    filter: blur(100px);
    background: rgb(125, 34, 83);
    position: absolute;
    width: 354.93px;
    height: 364.22px;
    left: 1335px;
    top: 4600px;
    transform: rotate(32.83deg);
}
    /* forma */
.forma{
    background-color: rgb(15, 34, 34);
}
.forma__container{
    max-width: 1110px;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
    z-index: 3;
}
.forma__title > div{
    padding-left: 95px;
}
.forma__wrapper{
    max-width: 445px;
}
.forma__horizontal-line{
    display: block;
    width: 255px;
    border: 1px solid rgb(67, 255, 210);
}
.forma__text-info{
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 53px;
    width: 255px;
}
.forma__form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding-top: 30px;
}

.forma__form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding-top: 30px;
}

.forma__input, .forma__textarea {
    padding: 19px 20px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(67, 255, 210);
    color: #fff;
    background: none;
    resize: none;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.forma__textarea {
    height: auto;
    padding-bottom: 80px;
}

.forma__btn {
    margin-top: 20px;
    padding: 16px 93px;
    background: rgb(67, 255, 210);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.form__info{
    padding-top: 10px;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
}
.form__info-link{
    color: rgb(217, 120, 172);
}

.forma__wrapper > div{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}
.forma-branch{
    position: absolute;
    left: -470px;
    top: 5270px;
    z-index: 2;
}
.forma__color-spot-blue{
    position: absolute;
    z-index: 1;
    width: 244.77px;
    height: 285.94px;
    left: 375px;
    top: 5555px;
    transform: rotate(32.83deg);
    filter: blur(100px);
    background: rgb(67, 255, 210);
}
.forma__color-spot-pink{
    position: absolute;
    z-index: 0;
    filter: blur(100px);
    background: rgb(125, 34, 83);
    width: 416.23px;
    height: 427.12px;
    left: 80px;
    top: 5450px;
    transform: rotate(32.83deg);
}
.forma__haq{
    position: absolute;
    z-index: 3;
    left: 470px;
    top: 5600px;
    transform: rotate(-18.44deg);
}
    /* social */

.social{
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-top: 250px;
    padding-bottom: 200px;
}
.social__images{
    display: flex;
    gap: 30px;
}

.social__horizontal-line{
    display: block;
    width: 350px;
    border: 1px solid rgb(67, 255, 210);
}
.social__osn{
    position: absolute;
    width: 305px;
    height: 121px;
    left: 900px;
    top: 6200px;
}
.social-links__contact{
    padding-top: 120px;
    display: flex;
    justify-content: end;
    gap: 30px;
}
.social-links__contact-link img{
    width: 40px;
    height: 40px;
}

.social__inst{
    position: absolute;
    z-index: -2;
    left: -10px;
    top: 6235px;
    color: rgb(10, 23, 23);
    font-size: 200px;
    font-weight: 700;
    line-height: 296px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.social__color-spot-blue-first{
    filter: blur(100px);
    background: rgb(67, 255, 210);
    position: absolute;
    width: 99.59px;
    height: 211.05px;
    left: 19.97px;
    top: 6400px;
    transform: rotate(21.10deg);
}
.social__color-spot-blue-second{
    filter: blur(100px);
    background: rgb(67, 255, 210);
    position: absolute;
    width: 879.44px;
    height: 211.05px;
    left: 645.97px;
    top: 6500px;
    transform: rotate(21.10deg);
}
.social__color-spot-pink{
    filter: blur(100px);
    background: rgb(125, 34, 83);
    position: absolute;
    width: 354.93px;
    height: 364.22px;
    left: 1284.45px;
    top: 6300px;
    transform: rotate(32.83deg);
}

/* main END */


/* footer START */
.footer{
    background: rgb(0, 0, 0);
    position: relative;
    z-index: 2;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
.footer li, a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.footer__wrapper{
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-bottom: 60px;
}
.footer-katalog,
.footer-bouquet,
.footer-links-menu,
.footer-contact-info{
    padding-top: 30px;
}
.footer-requisites{
    max-width: 245px;
}
.footer-requisites__title,
.footer-katalog__title,
.footer-bouquet__title,
.footer-links-menu__link{
    color: rgb(67, 255, 210);
    font-size: 14px;
    font-weight: 700;
}
.footer-requisites__description,
.footer-bouquet__list,
.footer-katalog__list{
    padding-top: 10px;
}
.footer-katalog__list,
.footer-bouquet__list{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.footer-links-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 160px;
}
.footer-contact-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-contact-info__email,
.footer-contact-info__street,
.footer-contact-info__phone{
    color: rgb(67, 255, 210);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}
.footer-contact-info__delivery,
.footer-contact-info__time,
.footer-contact-info__note{
    font-size: 10px;
    font-weight: 300;
    line-height: 15px;
    letter-spacing: 2px;
    padding-top: 6px;
}
.footer-contact-info__social{
    display: flex;
    gap: 20px;
    padding-top: 18px;
}


/* footer END */